.MessageBubble {
  max-width: 70%;
  min-width: 100px;
  padding: var(--spacing-s);
  border-radius: var(--border-radius-s);
  background-color: var(--primary-color);
}

.incoming {
  margin-right: auto;
  background-color: var(--bubble-bg);
}

.outgoing {
  margin-left: auto;
}

.time {
  display: block;
  font-size: 12px;
  opacity: 0.7;
  text-align: right;
}
